In [1]:
import pandas as pd

In [9]:
life_expentancy_df = pd.read_csv('Life_Expectancy_at_Birth.csv')

In [10]:
life_expentancy.head()

,ISO3,Country,Continent,Hemisphere,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Life Expectancy at Birth (1990),Life Expectancy at Birth (1991),Life Expectancy at Birth (1992),...,Life Expectancy at Birth (2012),Life Expectancy at Birth (2013),Life Expectancy at Birth (2014),Life Expectancy at Birth (2015),Life Expectancy at Birth (2016),Life Expectancy at Birth (2017),Life Expectancy at Birth (2018),Life Expectancy at Birth (2019),Life Expectancy at Birth (2020),Life Expectancy at Birth (2021)
0,AFG,Afghanistan,Asia,Northern Hemisphere,Low,SA,180.0,45.9672,46.6631,47.5955,...,61.9230,62.4167,62.5451,62.6587,63.1361,63.0160,63.0810,63.5645,62.5751,61.9824
1,AGO,Angola,Africa,Southern Hemisphere,Medium,SSA,148.0,41.8933,43.8127,42.2088,...,58.6231,59.3074,60.0397,60.6546,61.0923,61.6798,62.1438,62.4484,62.2612,61.6434
2,ALB,Albania,Europe,Northern Hemisphere,High,ECA,67.0,73.1439,73.3776,73.7148,...,78.0640,78.1226,78.4075,78.6441,78.8602,79.0473,79.1838,79.2825,76.9893,76.4626
3,AND,Andorra,Europe,Northern Hemisphere,Very High,NaN,40.0,78.4063,77.9805,80.3241,...,82.9166,82.9343,82.9483,82.9534,82.9671,82.9803,82.9923,83.0039,79.0234,80.3684
4,ARE,United Arab Emirates,Asia,Northern Hemisphere,Very High,AS,26.0,71.9004,72.2414,72.3062,...,78.7155,78.8528,79.0442,79.2232,79.3347,79.5036,79.6274,79.7262,78.9457,78.7104

In [12]:
Asian_country= life_expentancy_df[(life_expentancy_df['Continent'] == 'Asia') & (life_expentancy_df['HDI Rank (2021)'] >= 150)]

In [15]:
selected_columns = Asian_country[['Hemisphere', 'Human Development Groups', 'Life Expectancy at Birth (2021)','Life Expectancy at Birth (2020)']]

In [16]:
selected_columns

,Hemisphere,Human Development Groups,Life Expectancy at Birth (2021),Life Expectancy at Birth (2020)
0,Northern Hemisphere,Low,61.9824,62.5751
135,Northern Hemisphere,Low,66.0979,66.2695
168,Northern Hemisphere,Medium,72.0627,72.1399
191,Northern Hemisphere,Low,63.7534,64.6501

In [17]:
life_expentancy_df.isnull()

,ISO3,Country,Continent,Hemisphere,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Life Expectancy at Birth (1990),Life Expectancy at Birth (1991),Life Expectancy at Birth (1992),...,Life Expectancy at Birth (2012),Life Expectancy at Birth (2013),Life Expectancy at Birth (2014),Life Expectancy at Birth (2015),Life Expectancy at Birth (2016),Life Expectancy at Birth (2017),Life Expectancy at Birth (2018),Life Expectancy at Birth (2019),Life Expectancy at Birth (2020),Life Expectancy at Birth (2021)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
191,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
194,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
life_expentancy_df.isnull().sum()

ISO3                                0
Country                             0
Continent                           0
Hemisphere                          0
Human Development Groups            4
UNDP Developing Regions            44
HDI Rank (2021)                     4
Life Expectancy at Birth (1990)     0
Life Expectancy at Birth (1991)     0
Life Expectancy at Birth (1992)     0
Life Expectancy at Birth (1993)     0
Life Expectancy at Birth (1994)     0
Life Expectancy at Birth (1995)     0
Life Expectancy at Birth (1996)     0
Life Expectancy at Birth (1997)     0
Life Expectancy at Birth (1998)     0
Life Expectancy at Birth (1999)     0
Life Expectancy at Birth (2000)     0
Life Expectancy at Birth (2001)     0
Life Expectancy at Birth (2002)     0
Life Expectancy at Birth (2003)     0
Life Expectancy at Birth (2004)     0
Life Expectancy at Birth (2005)     0
Life Expectancy at Birth (2006)     0
Life Expectancy at Birth (2007)     0
Life Expectancy at Birth (2008)     0
Life Expectancy at Birth (2009)     0
Life Expectancy at Birth (2010)     0
Life Expectancy at Birth (2011)     0
Life Expectancy at Birth (2012)     0
Life Expectancy at Birth (2013)     0
Life Expectancy at Birth (2014)     0
Life Expectancy at Birth (2015)     0
Life Expectancy at Birth (2016)     0
Life Expectancy at Birth (2017)     0
Life Expectancy at Birth (2018)     0
Life Expectancy at Birth (2019)     0
Life Expectancy at Birth (2020)     0
Life Expectancy at Birth (2021)     0
dtype: int64

In [34]:
    ## Developing_region_mean = life_expentancy_df["UNDP Developing Regions"].mean().unique()

    life_expentancy_df['UNDP Developing Regions'].unique()

array(['SA', 'SSA', 'ECA', nan, 'AS', 'LAC', 'EAP'], dtype=object)

In [35]:
UDP_dev = life_expentancy_df['UNDP Developing Regions'].mode()[0]

In [36]:
print(UDP_dev)

SSA

In [37]:
life_expentancy_df['UNDP Developing Regions'].fillna(UDP_dev,inplace=True)

In [38]:
print(life_expentancy_df['UNDP Developing Regions'])

0       SA
1      SSA
2      ECA
3      SSA
4       AS
      ...
190    EAP
191     AS
192    SSA
193    SSA
194    SSA
Name: UNDP Developing Regions, Length: 195, dtype: object

In [39]:
life_expentancy_df.isnull()

,ISO3,Country,Continent,Hemisphere,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Life Expectancy at Birth (1990),Life Expectancy at Birth (1991),Life Expectancy at Birth (1992),...,Life Expectancy at Birth (2012),Life Expectancy at Birth (2013),Life Expectancy at Birth (2014),Life Expectancy at Birth (2015),Life Expectancy at Birth (2016),Life Expectancy at Birth (2017),Life Expectancy at Birth (2018),Life Expectancy at Birth (2019),Life Expectancy at Birth (2020),Life Expectancy at Birth (2021)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
191,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
194,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [40]:
life_expentancy_df.isnull().sum()

ISO3                               0
Country                            0
Continent                          0
Hemisphere                         0
Human Development Groups           4
UNDP Developing Regions            0
HDI Rank (2021)                    4
Life Expectancy at Birth (1990)    0
Life Expectancy at Birth (1991)    0
Life Expectancy at Birth (1992)    0
Life Expectancy at Birth (1993)    0
Life Expectancy at Birth (1994)    0
Life Expectancy at Birth (1995)    0
Life Expectancy at Birth (1996)    0
Life Expectancy at Birth (1997)    0
Life Expectancy at Birth (1998)    0
Life Expectancy at Birth (1999)    0
Life Expectancy at Birth (2000)    0
Life Expectancy at Birth (2001)    0
Life Expectancy at Birth (2002)    0
Life Expectancy at Birth (2003)    0
Life Expectancy at Birth (2004)    0
Life Expectancy at Birth (2005)    0
Life Expectancy at Birth (2006)    0
Life Expectancy at Birth (2007)    0
Life Expectancy at Birth (2008)    0
Life Expectancy at Birth (2009)    0
Life Expectancy at Birth (2010)    0
Life Expectancy at Birth (2011)    0
Life Expectancy at Birth (2012)    0
Life Expectancy at Birth (2013)    0
Life Expectancy at Birth (2014)    0
Life Expectancy at Birth (2015)    0
Life Expectancy at Birth (2016)    0
Life Expectancy at Birth (2017)    0
Life Expectancy at Birth (2018)    0
Life Expectancy at Birth (2019)    0
Life Expectancy at Birth (2020)    0
Life Expectancy at Birth (2021)    0
dtype: int64

In [42]:
life_expentancy_df = life_expentancy_df.dropna(subset=['HDI Rank (2021)'])

In [43]:
life_expentancy_df.isnull().sum()

ISO3                               0
Country                            0
Continent                          0
Hemisphere                         0
Human Development Groups           0
UNDP Developing Regions            0
HDI Rank (2021)                    0
Life Expectancy at Birth (1990)    0
Life Expectancy at Birth (1991)    0
Life Expectancy at Birth (1992)    0
Life Expectancy at Birth (1993)    0
Life Expectancy at Birth (1994)    0
Life Expectancy at Birth (1995)    0
Life Expectancy at Birth (1996)    0
Life Expectancy at Birth (1997)    0
Life Expectancy at Birth (1998)    0
Life Expectancy at Birth (1999)    0
Life Expectancy at Birth (2000)    0
Life Expectancy at Birth (2001)    0
Life Expectancy at Birth (2002)    0
Life Expectancy at Birth (2003)    0
Life Expectancy at Birth (2004)    0
Life Expectancy at Birth (2005)    0
Life Expectancy at Birth (2006)    0
Life Expectancy at Birth (2007)    0
Life Expectancy at Birth (2008)    0
Life Expectancy at Birth (2009)    0
Life Expectancy at Birth (2010)    0
Life Expectancy at Birth (2011)    0
Life Expectancy at Birth (2012)    0
Life Expectancy at Birth (2013)    0
Life Expectancy at Birth (2014)    0
Life Expectancy at Birth (2015)    0
Life Expectancy at Birth (2016)    0
Life Expectancy at Birth (2017)    0
Life Expectancy at Birth (2018)    0
Life Expectancy at Birth (2019)    0
Life Expectancy at Birth (2020)    0
Life Expectancy at Birth (2021)    0
dtype: int64

In [ ]:
#. No missing values in the end in any columns :)